@use '../abstracts/mixins' as *;

.main-screen {
  padding-bottom: 290px;
  background-image: url('../../public/img/bg.png');
  background-position: calc(50% - 200px) calc(50% + 210px);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    @include typo-title(56px);
    margin-bottom: 40px;
  }

  &__subtitle {
    @include typo-content(26px, 300, 1.2);
    width: 100%;
    max-width: 700px;
    margin-bottom: 58px;
  }

  &__buttons {
    display: flex;
    column-gap: 15px;
  }

  @media (max-width: 1000px) {
    background-image: url('../../public/img/bg-tablet.png');
    background-position: calc(50% - 30px) calc(50% + 110px);
    padding-bottom: 210px;
  }

  @media (max-width: 767px) {
    background-image: url('../../public/img/bg-mob.png');
    background-position: calc(50% - 30px) calc(50% + 30px);
    padding-bottom: 150px;

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 16px;
      margin-bottom: 24px;
    }

    &__buttons {
      column-gap: 8px;
    }
  }
}
