@use '../abstracts/mixins' as *;
@use '../abstracts/consts' as *;

.inp {
  @include typo-content(14px, 500, 1.2);
  width: 100%;
  padding: 16px 8px;
  border: none;
  border-radius: 6px;
  background: $input_bg;

  &:focus-visible,
  &:focus {
    outline: $yellow solid 2px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: $green_dark;
  border-radius: 4px;

  > svg {
    display: none;
  }
}
