@use './consts' as *;

@mixin typo-title($size) {
  font-family: 'Marmelad', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $size;
  font-weight: normal;
  line-height: 1.2;
}

@mixin typo-content($size, $weight, $height) {
  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin typo-phone {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: $main_dark;
  text-decoration: none;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}
